.title {
  padding-bottom: 20%;
}
.nav-link {
  color: black;
  font-size: 20px;
  transition: all 1s linear;
}

.nav-link:hover {
  color: black;
  text-decoration: underline;
}

.nav-item {
  margin-right: auto;
}

nav {
  margin-bottom: 12.5%;
}

.dropdown-item {
  transition: all 0.3s linear;
}
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbaricon {
  color: black;
}

.wip {
  text-align: center;
  margin: auto;
}

.wiptext {
  font-size: 50px;
}

/* footer */
footer {
  background-color: rgba(128, 128, 128, 0.5);
  color: grey;
  text-align: center;
}
